# AI Models (Too large for GitHub)
*.onnx
*.h5
*.bin
*.model
*.weights
smartlms-ml-service/export/
smartlms-backend/app/ml/models/

# Environment Files
.env
.env.local
.env.production
.env.development
.env.example
# Standard Ignores
node_modules/
__pycache__/
*.pyc
.DS_Store
.aws/
.vscode/
dist/
build/
.next/
